.layui-btn-small{
	height: 25px;
	width: 67px;
	line-height: 25px;
}
.operate span{
	font-size: 16px;
	color: #324663;
	margin-right: 10px;
}
.save{
	background: #F5B12D;
}
.submit{
	background: #324663;
}
/*tab页*/

.layui-tab{padding: 10px;margin: 0;}
.layui-tab-title{border-bottom:3px solid #D7DAE0;}
.layui-tab-brief>.layui-tab-title .layui-this { color: #324663;}
.layui-tab-brief>.layui-tab-title .layui-this:after {
	border-bottom: 3px solid #324663;;
}
.layui-tab-title{padding: 0;margin-bottom: 40px;}
.layui-form-item{margin-bottom: 20px;}
.layui-form-label {
	display: block;
	float: left;
    padding: 9px 15px;
    width: 110px;
    font-weight: 400;
    text-align: right;
}

label span{color: red;margin-right: 3px;}

select{
	width: 160px;
}

.showmask{
	width: 550px;
}
.content{
	padding: 20px;
}

