<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/easyui.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/showtravelproduct.css">
    
    <script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="./js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/showtravelproduct.js"></script>
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">商品管理</a>
        <a href="ticketgoods.html">周边游产品</a>
        <a><cite>添加新产品</cite></a>
      </span>
    </div>
    
    <div class="x-body clearfix">
			<div class="operate fr">
				<span><img src="" alt="" />返回</span>
				<span style="font-size: 20px;">|</span>
				<span><img src="" alt="" />查看商品</span>	
				<span style="font-size: 20px;">|</span>
				<span><img src="" alt="" />预览</span>
				<button class="layui-btn layui-btn-small save">保存</button>
				<button class="layui-btn layui-btn-small submit">提交</button>
				
			</div>
		</div>
				
			<!--tab页-->
			<div class="layui-tab">
			  <ul class="layui-tab-title">
			    <li class="layui-this">基本信息</li>
			    <li>详细信息</li>	
			    <li>说明须知</li>	
			  </ul>
			  <div class="layui-tab-content">
			  	
			  		
			  	<!--基本信息-->
			    <div class="layui-tab-item layui-show" data-index="0">
			    	<!--<form class="layui-form" action="">-->

						  <div class="layui-form-item">
						    <label class="layui-form-label"><span>*</span>产品名称</label>
						    <input type="text" name="title" required="required" class="layui-input" readonly="readonly" style="width: 500px;"placeholder="山西五台山巴士游">
						  </div>

 							<div class="layui-form-item">
						    <div class="layui-inline">
						      <label class="layui-form-label"><span>*</span>品类</label>
						      <input type="text" name="title" required="required" class="layui-input" readonly="readonly" placeholder="跟团游">
						    </div>
						  </div>
						  
						  <div class="layui-form-item">
						    <div class="layui-inline">
						      <label class="layui-form-label"><span>*</span>出发地</label>
						      <input type="text" name="title" required="required" class="layui-input" readonly="readonly" placeholder="北京市">
						      <input type="text" name="title" required="required" class="layui-input" readonly="readonly" placeholder="海淀区">
						    </div>
						  </div>
						  
              <div class="layui-form-item">
						    <label class="layui-form-label"><span>*</span>目的地</label>
						    <input type="text" name="title" required="required" class="layui-input" readonly="readonly" placeholder="大同">
						    
						  </div>
						  
 							<div class="layui-form-item">
						    <div class="layui-inline" >
						      <label class="layui-form-label"><span>*</span>去程</label>
						      <ul class="travel">
						      	<li class="active">飞机</li>					      	
						      </ul>
						    </div>
						  </div>
						  
						  <div class="layui-form-item">
						    <div class="layui-inline" >
						      <label class="layui-form-label"><span>*</span>返程</label>
						      <ul class="travel retravel">
						      	<li class="active">飞机</li>					      	
						      </ul>
						    </div>
						  </div>
						  
						  <div class="layui-form-item clearfix">
						    <label class="layui-form-label "><span>*</span>产品图片</label>
						    <div class="fl " style="width: 80%;">
							    <ul class="addimg product">
							    	<li>
											<div class="myBtn">
												<img src="./images/update.png" alt="" class="addimgs" />
												<div class="figure">主图</div>
											</div>
							    	</li>
							    	<li>
											<div class="myBtn">
												<img src="./images/update.png" alt="" class="addimgs" />
												<div class="figure">主图</div>
											</div>
							    	</li>
							    	<li>
											<div class="myBtn">
												<img src="./images/update.png" alt="" class="addimgs" />
												<div class="figure">主图</div>
											</div>
							    	</li>
							    	<li>
											<div class="myBtn">
												<img src="./images/update.png" alt="" class="addimgs" />
												<div class="figure">主图</div>
											</div>
							    	</li>
							    	<li>
											<div class="myBtn">
												<img src="./images/update.png" alt="" class="addimgs" />
												<div class="figure">主图</div>
											</div>
							    	</li>
							    	
							    	
							    </ul>	
						    </div>
						    		    
						  </div>
						 
						  <div class="layui-form-item">
						    <label class="layui-form-label">推荐理由</label>
						    <textarea name="" rows="5" cols="100" readonly="readonly"></textarea>
						  </div>
 					
 						  <div class="layui-form-item clearfix">
						    <label class="layui-form-label"><span>*</span>主题标签</label>
					    	<div class="choosetheme fl" style="margin-top: 10px;">
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
					    		<span>主题乐园</span>/
						  	</div>
						  </div>

			    	<!--</form>-->
			    	<div class="layui-form-item center">
						  <button class="layui-btn next_btn" >下一页</button>						      
						</div>
						
			    </div>
			  
			  	<!--详细信息-->
			  	<div class="layui-tab-item  " data-index="1">
			  		<!--<form action="" class="layui-form">-->
			  			
			  			<div class="layui-form-item clearfix">
						    <label class="layui-form-label"><span>*</span>产品描述</label>
						    <div class="productlist fl">
						    	
						      <div class="detailmess">
						    	 <div id="triangle-topleft"></div>
						    	  <div class="num">1</div>
						    	  
						    	  <div class="layui-form-item">
									  	<label class="layui-form-label">标题</label>
									  	<input type="text" class="layui-input" readonly="readonly" />
									  </div>
									  
									  <div class="layui-form-item">
									  	<label class="layui-form-label">简介</label>
									  	<textarea name="" rows="5" cols="100" readonly="readonly"></textarea>
									  </div>
									  
									  <div class="layui-form-item">
									  	<label class="layui-form-label">图片</label>
									  	<div>
									  		<ul class="addimg" style="width: 800px;margin-left: 70px;">
									  			<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
									  		</ul>
									  	</div>
									  </div>
									  
						      </div>
						      
						      <div class="detailmess">
						    	 <div id="triangle-topleft"></div>
						    	  <div class="num">2</div>
						    	  
						    	  <div class="layui-form-item">
									  	<label class="layui-form-label">标题</label>
									  	<input type="text" class="layui-input" readonly="readonly" />
									  </div>
									  
									  <div class="layui-form-item">
									  	<label class="layui-form-label">简介</label>
									  	<textarea name="" rows="5" cols="100" readonly="readonly"></textarea>
									  </div>
									  
									  <div class="layui-form-item">
									  	<label class="layui-form-label">图片</label>
									  	<div>
									  		<ul class="addimg" style="width: 800px;margin-left: 70px;">
									  			<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
										    	<li>
														<div class="myBtn"><img src="./images/update.png" alt="" class="addimgs" /></div>
										    	</li>
									  		</ul>
									  	</div>
									  </div>
									  
						      </div>
						      
						     
						    </div>
						  </div>
						  
						  
						  <!--行程描述-->
						  <div class="layui-form-item">
						  	
						  	<div class="layui-form-item">
						  		 <label class="layui-form-label"><span>*</span>行程描述</label>
						  		 <input type="text" class="layui-input" id="daynum" readonly="readonly" placeholder="2"/>
						  		 <span>天</span>
						  		 <input type="text" class="layui-input" readonly="readonly" placeholder="1"/>
						  		 <span>夜</span>
						  	</div>
						  	
						  	<div id="daytime">
						  		
						  		<div class="daytime">
							  		<div class="daynum">D1</div>
							  		<div class="dayitem">

							  			<div class="clearfix">
							  		 		<div class="fl">
							  		 	 		<label class="layui-form-label" style="width: 70px;"><span>*</span>交通</label>
							  		 			<input type="text" class="layui-input" readonly="readonly" placeholder="飞机"/>
												</div>
							  		 	
								  		 	 <div class="fl">
								  		 	 		<label class="layui-form-label"><span>*</span>住宿</label>
								  		 			<input type="text" class="layui-input" readonly="readonly" placeholder="民宿"/>
								  		 	 </div>
							  		 	 
								  		 	 <div class="fl">
								  		 	 		<label class="layui-form-label"><span>*</span>餐饮</label>
								  		 			<input type="text" class="layui-input" readonly="readonly" placeholder="午餐"/>
								  		 	 </div>
						
							  	    </div>
							  	    
							  	    <!--项目一-->
							  	    <div class="oneday">
								  	    	<div class="item">
												  	<div class="layui-form-item" style="position: relative;height: 35px;overflow: hidden;">
													  	<p class="itemtext">游玩娱乐项目1</p>
													  	<p class="itemline"></p>
													  </div>
													  
												  	<div class="layui-form-item clearfix">
													    <div class="fl">
													    	 <label class=""><span>*</span>地标/目的地/活动主题</label>
													       <input type="text" class="layui-input" readonly="readonly" placeholder="午餐" style="width: 200px;"/>
													    </div>
													    <div class="fr">
													    	 <label class=""><span>*</span>预计开始时间</label>
													       <input type="text" class="layui-input" readonly="readonly" placeholder="10:00"/>
													    </div>
													  </div>
													  
													  <div class="layui-form-item">
													  	<label class=""><span>*</span>介绍</label>
													  	<textarea name="" rows="5" cols="100"readonly="readonly"></textarea>
													  </div>
													  
													  <div class="layui-form-item">
													  	<label class=""><span>*</span>景点图片</label>
												  		<ul class="addimg" style="width: 800px;margin-left: 40px;">
												  			<li>
																	<div class="myBtn">
																		<img src="./images/update.png" alt="" class="addimgs" />
																	</div>
													    	</li>
													    	<li>
																	<div class="myBtn">
																		<img src="./images/update.png" alt="" class="addimgs" />
																	</div>
													    	</li>
												  		</ul>
													  </div>
													  
												  </div>	  
								  		</div>
								  		
							  		</div>
							  	</div>
							  	
							  	<div class="daytime">
							  		<div class="daynum">D2</div>
							  		<div class="dayitem">

							  			<div class="clearfix">
							  		 		<div class="fl">
							  		 	 		<label class="layui-form-label" style="width: 70px;"><span>*</span>交通</label>
							  		 			<input type="text" class="layui-input" readonly="readonly" placeholder="飞机"/>
												</div>
							  		 	
								  		 	 <div class="fl">
								  		 	 		<label class="layui-form-label"><span>*</span>住宿</label>
								  		 			<input type="text" class="layui-input" readonly="readonly" placeholder="民宿"/>
								  		 	 </div>
							  		 	 
								  		 	 <div class="fl">
								  		 	 		<label class="layui-form-label"><span>*</span>餐饮</label>
								  		 			<input type="text" class="layui-input" readonly="readonly" placeholder="午餐"/>
								  		 	 </div>
						
							  	    </div>
							  	    
							  	    <!--项目一-->
							  	    <div class="oneday">
								  	    	<div class="item">
												  	<div class="layui-form-item" style="position: relative;height: 35px;overflow: hidden;">
													  	<p class="itemtext">游玩娱乐项目1</p>
													  	<p class="itemline"></p>
													  </div>
													  
												  	<div class="layui-form-item clearfix">
													    <div class="fl">
													    	 <label class=""><span>*</span>地标/目的地/活动主题</label>
													       <input type="text" class="layui-input" readonly="readonly" placeholder="午餐" style="width: 200px;"/>
													    </div>
													    <div class="fr">
													    	 <label class=""><span>*</span>预计开始时间</label>
													       <input type="text" class="layui-input" readonly="readonly" placeholder="10:00"/>
													    </div>
													  </div>
													  
													  <div class="layui-form-item">
													  	<label class=""><span>*</span>介绍</label>
													  	<textarea name="" rows="5" cols="100"readonly="readonly"></textarea>
													  </div>
													  
													  <div class="layui-form-item">
													  	<label class=""><span>*</span>景点图片</label>
												  		<ul class="addimg" style="width: 800px;margin-left: 40px;">
												  			<li>
																	<div class="myBtn">
																		<img src="./images/update.png" alt="" class="addimgs" />
																	</div>
													    	</li>
													    	<li>
																	<div class="myBtn">
																		<img src="./images/update.png" alt="" class="addimgs" />
																	</div>
													    	</li>
												  		</ul>
													  </div>
													  
												  </div>	  
								  		</div>
								  		
								  		<!--项目二-->
								  		<div class="oneday">
								  	    	<div class="item">
												  	<div class="layui-form-item" style="position: relative;height: 35px;overflow: hidden;">
													  	<p class="itemtext">游玩娱乐项目2</p>
													  	<p class="itemline"></p>
													  </div>
													  
												  	<div class="layui-form-item clearfix">
													    <div class="fl">
													    	 <label class=""><span>*</span>地标/目的地/活动主题</label>
													       <input type="text" class="layui-input" readonly="readonly" placeholder="午餐" style="width: 200px;"/>
													    </div>
													    <div class="fr">
													    	 <label class=""><span>*</span>预计开始时间</label>
													       <input type="text" class="layui-input" readonly="readonly" placeholder="10:00"/>
													    </div>
													  </div>
													  
													  <div class="layui-form-item">
													  	<label class=""><span>*</span>介绍</label>
													  	<textarea name="" rows="5" cols="100"readonly="readonly"></textarea>
													  </div>
													  
													  <div class="layui-form-item">
													  	<label class=""><span>*</span>景点图片</label>
												  		<ul class="addimg" style="width: 800px;margin-left: 40px;">
												  			<li>
																	<div class="myBtn">
																		<img src="./images/update.png" alt="" class="addimgs" />
																	</div>
													    	</li>
													    	<li>
																	<div class="myBtn">
																		<img src="./images/update.png" alt="" class="addimgs" />
																	</div>
													    	</li>
												  		</ul>
													  </div>
													  
												  </div>	  
								  		</div>
								  		
								  		
							  		</div>
							  	</div>
							  	
							  	
						  	</div>
						  
			  
						  </div>	

			  		<!--</form>-->
			  		
			  		<div class="layui-form-item center">
			  			 <button class="layui-btn prev_btn">上一页</button>
			  			 <button class="layui-btn next_btn">下一页</button>
			  		</div>
			  	</div>
			  	
			  	<!--说明须知-->
			  	<div class="layui-tab-item " data-index="2">
			  		<form action="" class="layui-form">
			  			<div class="layui-form-item clearfix">
			  				<label for="" class="layui-form-label"><span>*</span>费用说明</label>
			  				<div class="fl" style="width: 80%;margin-top: 30px;">
			  					<div>
				  					<p>费用包含：</p>
				  					<textarea name="" rows="5" cols="100" readonly="readonly"></textarea>
				  				</div>
				  				<div>
				  					<p>费用不包含：</p>
				  					<textarea name="" rows="5" cols="100" readonly="readonly"></textarea>
				  				</div>
			  				</div>
			  			</div>
			  			
			  			<div class="layui-form-item">
			  				<label for="" class="layui-form-label"><span>*</span>预定须知</label>
			  				<textarea name="" rows="5" cols="100" style="margin-top: 10px;"></textarea>
			  			</div>
			  		</form>
			  		<div class="layui-form-item center">
			  			 <button class="layui-btn prev_btn">上一页</button>
			  		</div>
			  		
			  	</div>
			  	
			  </div>
			</div>


  
  <!--游玩项目-->
  <!--<script type="text/template" id="tpl">  
    <%{ %>  
       <div class="oneday">
  	    	<div class="item">
				  	<div class="layui-form-item" style="position: relative;height: 35px;overflow: hidden;">
					  	<p class="itemtext">游玩娱乐项目<%= index%></p>
					  	<p class="itemline"></p>
					  	<span>删除</span>
					  </div>
					  
				  	<div class="layui-form-item clearfix">
					    <div class="fl">
					    	 <label class=""><span>*</span>地标/目的地/活动主题</label>
					       <input type="text" name="price_min" class="layui-input">
					    </div>
					    <div class="fr">
					    	 <label class=""><span>*</span>预计开始时间</label>
					       <select name="quiz1" required="required" class="layui-input">							        
						        <option value="汽车" selected>汽车</option>
						        <option value="火车">火车</option>
						        <option value="飞机">飞机</option>
						        <option value="其他">其他</option>
						     </select>
					    </div>
					  </div>
					  
					  <div class="layui-form-item">
					  	<label class=""><span>*</span>介绍</label>
					  	<textarea name="" rows="5" cols="100"></textarea>
					  </div>
					  
					  <div class="layui-form-item">
					  	<label class=""><span>*</span>景点图片</label><span>(支持常见的图片格式，如JPG、PNG等，图片小于2M.如果图片过大，请压缩后上传。)</span>
				  		<ul class="addimg" style="width: 800px;margin-left: 40px;">
				  			<li>
					    		<input type = "file" id="myFile" accept="image/*"/>
									<div class="myBtn">
										<img src="./images/update.png" alt="" class="addimgs" />
										<div class="zhez">
											<div class="modify">修改</div>
											<div class="del">删除</div>
										</div>
									</div>
					    	</li>
				  		</ul>
					  </div>
					  
				  </div>	  
  		</div>
    <% }%>  
	</script>-->
	<!--天数-->
	<!--<script type="text/template" id="tplday">
	<%{%>
		<div class="daytime">
	  		<div class="daynum">D<%=index%></div>
	  		<div class="dayitem">
	  			
	  			<div class="clearfix">
	  		 		<div class="fl">
	  		 	 		<label class="layui-form-label" style="width: 70px;"><span>*</span>交通</label>
	  		 			<select name="quiz1" required="required" class="layui-input">							        
				        <option value="汽车" selected>汽车</option>
				        <option value="火车">火车</option>
				        <option value="飞机">飞机</option>
				        <option value="其他">其他</option>
				     </select>
						</div>
	  		 	
	  		 	 <div class="fl">
	  		 	 		<label class="layui-form-label"><span>*</span>住宿</label>
	  		 			<select name="quiz1" required="required" class="layui-input">							        
				        <option value="民宿" selected>民宿</option>
				        <option value="普通酒店">普通酒店</option>
				        <option value="星际酒店">星际酒店</option>
				        <option value="其他">其他</option>
				     </select>
	  		 	 </div>
	  		 	 
	  		 	 <div class="fl">
	  		 	 		<label class="layui-form-label"><span>*</span>餐饮</label>
	  		 			<select name="quiz1" required="required" class="layui-input">							        
				        <option value="早餐" selected>早餐</option>
				        <option value="午餐">午餐</option>
				        <option value="晚餐">晚餐</option>
				        <option value="无">无</option>
				     </select>
	  		 	 </div>

	  	    </div>
	  	    
	  	    <!--项目一-->
	  	    <!--<div class="oneday">
		  	    	<div class="item">
						  	<div class="layui-form-item" style="position: relative;height: 35px;overflow: hidden;">
							  	<p class="itemtext">游玩娱乐项目1</p>
							  	<p class="itemline"></p>
							  	<span>删除</span>
							  </div>
							  
						  	<div class="layui-form-item clearfix">
							    <div class="fl">
							    	 <label class=""><span>*</span>地标/目的地/活动主题</label>
							       <input type="text" name="price_min" class="layui-input">
							    </div>
							    <div class="fr">
							    	 <label class=""><span>*</span>预计开始时间</label>
							       <select name="quiz1" required="required" class="layui-input">							        
								        <option value="汽车" selected>汽车</option>
								        <option value="火车">火车</option>
								        <option value="飞机">飞机</option>
								        <option value="其他">其他</option>
								     </select>
							    </div>
							  </div>
							  
							  <div class="layui-form-item">
							  	<label class=""><span>*</span>介绍</label>
							  	<textarea name="" rows="5" cols="100"></textarea>
							  </div>
							  
							  <div class="layui-form-item">
							  	<label class=""><span>*</span>景点图片</label><span>(支持常见的图片格式，如JPG、PNG等，图片小于2M.如果图片过大，请压缩后上传。)</span>
						  		<ul class="addimg" style="width: 800px;margin-left: 40px;">
						  			<li>
							    		<input type = "file" id="myFile" accept="image/*"/>
											<div class="myBtn">
												<img src="./images/update.png" alt="" class="addimgs" />
												<div class="zhez">
													<div class="modify">修改</div>
													<div class="del">删除</div>
												</div>
											</div>
							    	</li>
						  		</ul>
							  </div>
							  
						  </div>	  
		  		</div>
	  	    
	  		</div>
	  		
	  		<div class="addtravel" style="margin-left: 50px;">
	  			<button class="layui-btn" style="background: #F5B12D;margin-bottom: 10px;">添加项目</button>
	  		</div>-->
	  	<!--</div>
		<% }%>  
	</script>-->
	</body>
</html>