.row{margin: 0;}
.x-body{
	margin:10px;
	margin-right: 0;
	border: 1px solid #ddd;
	background: #fff;
	padding: 20px;
}
html,body{
	background: #e2e2e2;
}
.x-body span{
	color: #9DA5A7;
	display: block;
	width: 100px;
	text-align: right;
}
.x-body p{
	width: 70%;
	word-wrap : break-word;
}

.detail {
	margin-bottom: 10px;
	/*border: 1px solid #ddd;*/
}
.detail table tr{
	height: 30px;
	line-height: 30px;
}
.detail table th,.detail table td{
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ddd;
}
.detail table th{background: #E4F5FB;border-top: 3px solid #04C1FF;}

.showmask{
	width: 355px;
	border-top: 3px solid #139AE8;
}
.productchoose{padding: 20px;}
.content{
	border: 1px solid #ddd;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}
